@use 'common';
@use 'center';
@use 'vars';

#login-component{
    @include center.centerIt($flexDirection : column);  
    height: 100vh;
}

#login {
    background-color: vars.$secondaryColor;
    width : 35vh;
    padding : 3% 5%;
    border-radius: 10%;

    form {
        @extend %basicForm;
    }
}

#create-account-component{
    @extend #login-component;
}   

#create-account{
    @extend #login;
    button {
        margin-top: 20px;
    }
}

.error {
    font-size : vars.$medium;
    color: rgb(156, 8, 8);
    font-weight: bold;
    margin-bottom : 30px; 
}